.date {
  font-size: 21px;
  color: #dddcdc;
  text-align: center;
  background: none;
  padding: 8px 12px;
  align-self: baseline;
  border-radius: 8px;
  position: relative;
  top: 10px;
  margin-top: -25px;
  margin-bottom: 4px;
  box-shadow: 2px 2px 10px rgba(43, 43, 43, 0.192);
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}

.temp {
  align-self: flex-end;
  font-size: 21px;
  display: flex;
  align-items: center;
  color: #dddcdc;
  background: none;
  padding: 0px 15px 0px 0px;
  gap: 3px;
}

.temp img {
  width: 30px;
  height: 30px;
}
