.outer-body {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  height: calc(100% - 20px);
  margin: 10px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px); /* Blur effect */
  backdrop-filter: blur(10px); /* Blur effect */
  background: rgba(68, 68, 68, 0.703);
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
  z-index: 2;
  overflow: scroll;
  scrollbar-width: none;
}


.title{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: rgba(247, 76, 76, 0.871);
}